body {
  background-color: rgb(196, 196, 196);
  display: flex;
  justify-content: center;
}

.calcBody {
  margin: 1rem;
  width: 33.5rem;
  height: 38rem;
  gap: 2rem;
  background-color: #100a1c;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.calcDisplay {
  margin-top: 2.5rem;
  width: 30rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.calcResult {
  background: rgba(42, 50, 113, 0.28);
  width: 96%;
  height: 60%;
  display: flex;
  font-size: 2.5rem;
  align-items: center;
  justify-content: end;
  color: #6cacc5;
  padding: 0 2%;
  border-radius: 0.3rem;
  overflow: auto;
  box-shadow: inset 0px 0px 5px rgba(102, 102, 102, 0.8);
}

.preTyped {
  width: 96%;
  height: 40%;
  color: #6cacc5;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: end;
  padding: 0 2%;
  overflow-y: auto;
}

.calcButtons {
  background-color: #100a1c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 6px;
  grid-auto-flow: row;
  width: 30rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(42, 50, 113, 0.25),
    rgba(42, 50, 113, 0.4)
  );
  color: #6cacc5;
  font-size: 1.5rem;
  height: 4rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.button:hover {
  background: linear-gradient(
    to top,
    rgba(50, 76, 128, 0.35),
    rgba(50, 76, 128, 0.5)
  );
  cursor: pointer;
}

#equals {
  background: linear-gradient(
    to top,
    rgba(0, 128, 128, 0.35),
    rgba(0, 128, 128, 0.5)
  );
  color: #ffffff;
}

#equals:hover {
  background: linear-gradient(
    to top,
    rgba(32, 178, 170, 0.35),
    rgba(32, 178, 170, 0.5)
  );
  cursor: pointer;
}

#C,
#sqrt,
#negate,
#devide,
#multiply,
#minus,
#plus {
  background: linear-gradient(
    to top,
    rgba(72, 61, 139, 0.55),
    rgba(72, 61, 139, 0.7)
  );
  color: #dcdcdc;
}

#C:hover,
#sqrt:hover,
#negate:hover,
#devide:hover,
#multiply:hover,
#minus:hover,
#plus:hover {
  background: linear-gradient(
    to top,
    rgba(106, 90, 205, 0.45),
    rgba(106, 90, 205, 0.6)
  );
  cursor: pointer;
}
